################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/docs
 
/backend/src/DotNetTemplateClean.Application/Organisation/Entite/Queries/SearchEntites/SearchEntites.cs
