<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="8">
        <c-card-group>
          <c-card class="p-4">
            <c-card-body>
            
              @if (authService.sessionExpired()) {
              <div class="alert alert-danger">
                Votre session a expiré. Veuillez vous reconnecter.
                <button (click)="authService.sessionExpired.set(false)" class="btn-close"></button>
              </div>
              }
              @if (authService.loginError()) {
                <div class="alert alert-danger">
                {{ authService.loginError() }}
                <button (click)="authService.loginError.set(null)" class="btn-close"></button>
                </div>
        }

              <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                <h1>Connexion</h1>
                <p class="text-medium-emphasis">Connectez-vous à votre compte </p>

                <c-input-group class="mb-3">
                  <span cInputGroupText>
                    <svg cIcon name="cil-user"></svg>
                  </span>
                  <input cFormControl placeholder="Nom d'utilisateur" autocomplete="username" name="userName"
                    [(ngModel)]="loginData.userName" #userName="ngModel" required />
                </c-input-group>

                <c-input-group class="mb-4">
                  <span cInputGroupText>
                    <svg cIcon name="cil-lock-locked"></svg>
                  </span>
                  <input cFormControl type="password" placeholder="Mot de passe" autocomplete="current-password"
                    name="password" [(ngModel)]="loginData.password" #password="ngModel" required />
                </c-input-group>

                <c-row>
                  <c-col xs="6">
                    <button cButton color="success" class="px-4" type="submit"
                      [disabled]="loginForm.invalid || (isLoading$ | async)">
                      @if (isLoading$ | async)   {
                      <c-spinner size="sm" class="me-2"></c-spinner>
                      Chargement...
                      } @else { 
                      Se connecter
                      }
                    </button>
                  </c-col>
                  
                </c-row>
              </form> 
            </c-card-body>
          </c-card>
          <c-card class="text-white bg-success py-5" style="width: 44%">
            <c-card-body class="text-center">
              <div>
                <h1>Bienvenue</h1>
                <p>LIMS - Plateforme scientifique pour la gestion informatisée des laboratoires</p>                
              </div>
            </c-card-body>
          </c-card>
        </c-card-group>
      </c-col>
    </c-row>
  </c-container>
</div>